body {
    text-align: center;
    background-color: #283149;
}

h1 {
    font-size: 90px;
    color: #DBEDF3;
    font-family: serif;
    text-shadow: 3px 0 #DA0463;
  
}


.drum {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
    color: #DA0463;
    border: 10px solid #404B69;
    border-radius: 15px;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: 3px 0 #DBEDF3;

}

.w{
    background-image: url("F:/PROJECTS/drum kit/images/tom1.png");
    background-size: 111%;
}

.a{
    background-image: url("F:/PROJECTS/drum kit/images/tom2.png");
    background-size: 113%;
}

.s{
    background-image: url("F:/PROJECTS/drum kit/images/tom3.png");
    background-size: 99%;
}
 
.d{
    background-image: url("F:/PROJECTS/drum kit/images/tom4.png");
    background-size: 100%;
}

.j{
    background-image: url("F:/PROJECTS/drum kit/images/snare.png");
    background-size: 98%;
}

.k{
    background-image: url("F:/PROJECTS/drum kit/images/kick.png");
    background-size: 100%;
}

.l{
    background-image: url("F:/PROJECTS/drum kit/images/crash.png");
    background-size: 100%;
}


.pressed{
    box-shadow: 0px 2px 3px 0px rgb(143, 139, 139);
    opacity: 0.5;
}

.note{
    font-size: 25px;
    color: white;
    font-family: serif;
    text-align: left;
    background-color: rgba(163, 132, 132, 0.356);
    margin: 50px;
    width: 261px;
}

span{
    color: rgb(187, 255, 0);
}


.creator{
    font-size: 25px;
    color: #DBEDF3;
    font-family: serif;
    text-shadow: 0.5px 0 #DA0463;
    margin: 80px;

}



